# Submission 데이터 예측
- 여러 개의 모델을 사용하여 예측한 후 min을 통해 하나의 결론 도출

In [1]:
import pandas as pd
import joblib
import gc

## test data load

In [2]:
df = pd.DataFrame()

for i in range(4):
    df = pd.concat([df, pd.read_csv(f'./submission_data_r4/{i}.csv')], axis=0, ignore_index=True)

from sklearn.preprocessing import OneHotEncoder
import gc

ohe = OneHotEncoder(sparse=False)
ohe_re = ohe.fit_transform(df[['protein_name']])

df = pd.concat([df, pd.DataFrame(ohe_re, columns=[col for col in ohe.categories_[0]])], axis=1)

del ohe
del ohe_re
gc.collect()

# 예측에 불필요한 feature 제거
X = df.drop(['id', 'protein_name'], axis=1)

/opt/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

## 각 모델을 사용하여 예측

#### 모델들 load

In [22]:
# xgb_model_0 = joblib.load('../models/r2_models/XGB_0.joblib')
# xgb_model_1 = joblib.load('../models/r2_models/XGB_1.joblib')
# xgb_model_2 = joblib.load('../models/r2_models/XGB_2.joblib')
xgb_model_3 = joblib.load('../models/r2_models/XGB_3.joblib')

In [23]:
# xgb_proba_pred_0 = xgb_model_0.predict_proba(X)[:, 1] # 확률 예측
# xgb_proba_pred_1 = xgb_model_1.predict_proba(X)[:, 1] # 확률 예측
# xgb_proba_pred_2 = xgb_model_2.predict_proba(X)[:, 1] # 확률 예측
xgb_proba_pred_3 = xgb_model_3.predict_proba(X)[:, 1] # 확률 예측

In [24]:
'''
# submission format에 맞춰준다.
xgb_proba_pred_df_0 = pd.DataFrame(xgb_proba_pred_0)
xgb_re_df_0 = df[['id']]
xgb_rd_df_0 = pd.concat([xgb_re_df_0, xgb_proba_pred_df_0], axis=1)
xgb_rd_df_0.columns = ['id', 'binds0']
'''
'''
# submission format에 맞춰준다.
xgb_proba_pred_df_1 = pd.DataFrame(xgb_proba_pred_1)
xgb_re_df_1 = df[['id']]
xgb_rd_df_1 = pd.concat([xgb_re_df_1, xgb_proba_pred_df_1], axis=1)
xgb_rd_df_1.columns = ['id', 'binds1']
'''

'''
# submission format에 맞춰준다.
xgb_proba_pred_df_2 = pd.DataFrame(xgb_proba_pred_2)
xgb_re_df_2 = df[['id']]
xgb_rd_df_2 = pd.concat([xgb_re_df_2, xgb_proba_pred_df_2], axis=1)
xgb_rd_df_2.columns = ['id', 'binds2']
'''


# submission format에 맞춰준다.
xgb_proba_pred_df_3 = pd.DataFrame(xgb_proba_pred_3)
xgb_re_df_3 = df[['id']]
xgb_rd_df_3 = pd.concat([xgb_re_df_3, xgb_proba_pred_df_3], axis=1)
xgb_rd_df_3.columns = ['id', 'binds3']

In [25]:
# csv 파일 생성
# xgb_rd_df_0.to_csv('XGB_0_pred.csv', index=False)
# xgb_rd_df_1.to_csv('XGB_1_pred.csv', index=False)
# xgb_rd_df_2.to_csv('XGB_2_pred.csv', index=False)
xgb_rd_df_3.to_csv('XGB_3_pred.csv', index=False)

In [29]:
xgb_rd_df_3.columns = ['id', 'binds']

          id         0
0  295246830  0.073991
1  295246831  0.143367
2  295246832  0.125222
3  295246833  0.147591
4  295246834  0.859604

## 결과 종합

In [30]:
re0 = pd.read_csv('./XGB_0_pred.csv')
re1 = pd.read_csv('./XGB_1_pred.csv')
re2 = pd.read_csv('./XGB_2_pred.csv')
re3 = pd.read_csv('./XGB_3_pred.csv')

re0.columns = ['id', 'binds0']
re1.columns = ['id', 'binds1']
re2.columns = ['id', 'binds2']
re3.columns = ['id', 'binds3']

In [38]:
re = pd.concat([re0, re1[['binds1']], re2[['binds2']], re3[['binds3']]], axis=1)

In [39]:
re.head()

          id    binds0    binds1    binds2    binds3
0  295246830  0.177879  0.089716  0.101490  0.073991
1  295246831  0.123248  0.114661  0.097353  0.143367
2  295246832  0.076851  0.259128  0.065150  0.125222
3  295246833  0.201112  0.229155  0.097275  0.147591
4  295246834  0.192813  0.596845  0.384972  0.859604

In [40]:
re['binds'] = re[['binds0', 'binds1', 'binds2', 'binds3']].min(axis=1)

In [42]:
re.drop(['binds0','binds1','binds2','binds3'], axis=1, inplace=True)

In [48]:
re.to_csv('re_test.csv', index=False)

In [49]:
test = pd.read_csv('./re_test.csv')

In [50]:
test.head()

          id     binds
0  295246830  0.073991
1  295246831  0.097353
2  295246832  0.065150
3  295246833  0.097275
4  295246834  0.192813