# 데이터를 사용하기 좋게 미리 일정 부분 조정 및 새로운 데이터 생성

## 리그앙 team added 파일 생성
- 이 부분은 이제 안 해도 됨

In [1]:
#import pandas as pd

In [2]:
'''
table_df = pd.read_csv('./League1_data/league1_new_data/2022-2023_League_1_Team_Table.csv')
summary_df = pd.read_csv('./League1_data/league1_new_data/2022-2023_League_1_Team_Statistics_summary.csv')
def_df = pd.read_csv('./League1_data/league1_new_data/2022-2023_League_1_Team_Statistics_defensive.csv')
off_df = pd.read_csv('./League1_data/league1_new_data/2022-2023_League_1_Team_Statistics_offensive.csv')
xg_df = pd.read_csv('./League1_data/league1_new_data/2022-2023_League_1_Team_Statistics_xG.csv')
'''

"\ntable_df = pd.read_csv('./League1_data/league1_new_data/2022-2023_League_1_Team_Table.csv')\nsummary_df = pd.read_csv('./League1_data/league1_new_data/2022-2023_League_1_Team_Statistics_summary.csv')\ndef_df = pd.read_csv('./League1_data/league1_new_data/2022-2023_League_1_Team_Statistics_defensive.csv')\noff_df = pd.read_csv('./League1_data/league1_new_data/2022-2023_League_1_Team_Statistics_offensive.csv')\nxg_df = pd.read_csv('./League1_data/league1_new_data/2022-2023_League_1_Team_Statistics_xG.csv')\n"

In [3]:
'''
table_df.drop('Unnamed: 0',axis=1, inplace=True)
summary_df.drop('Unnamed: 0',axis=1, inplace=True)
def_df.drop('Unnamed: 0',axis=1, inplace=True)
off_df.drop('Unnamed: 0',axis=1, inplace=True)
xg_df.drop('Unnamed: 0',axis=1, inplace=True)

print(table_df.shape)
print(summary_df.shape)
print(def_df.shape)
print(off_df.shape)
print(xg_df.shape)
'''

"\ntable_df.drop('Unnamed: 0',axis=1, inplace=True)\nsummary_df.drop('Unnamed: 0',axis=1, inplace=True)\ndef_df.drop('Unnamed: 0',axis=1, inplace=True)\noff_df.drop('Unnamed: 0',axis=1, inplace=True)\nxg_df.drop('Unnamed: 0',axis=1, inplace=True)\n\nprint(table_df.shape)\nprint(summary_df.shape)\nprint(def_df.shape)\nprint(off_df.shape)\nprint(xg_df.shape)\n"

In [4]:
#tmp1 = pd.merge(summary_df, def_df, on='Team', how='inner')

In [5]:
#tmp2 = pd.merge(tmp1, off_df, on='Team', how='inner')

In [6]:
#tmp3 = pd.merge(tmp2, xg_df, on='Team', how='inner')

In [7]:
#tmp3.shape

In [8]:
# 팀 이름이 다르다.
#tmp4 = pd.merge(tmp3, table_df, on='Team', how='inner')

In [9]:
#tmp4

In [10]:
'''
team_list = tmp3['Team'].unique().tolist()

for i in range(20):
    team_list[i] = team_list[i][1:]
'''

"\nteam_list = tmp3['Team'].unique().tolist()\n\nfor i in range(20):\n    team_list[i] = team_list[i][1:]\n"

In [11]:
#tmp3['Team'] = pd.DataFrame(team_list, columns=['Team'])

In [12]:
#tmp4 = pd.merge(tmp3, table_df, on='Team', how='inner')
#tmp4

In [13]:
# tmp4.to_csv("League1_22_23_Team_Table_Added.csv", encoding='utf-8-sig')

# League1 선수 데이터 확인

In [62]:
import pandas as pd

In [63]:
L1_Player_df = pd.read_csv('./League1_data/Ligue1_Player_22_23.csv')

In [64]:
L1_Player_df.shape

(311, 35)

In [65]:
# 필요없는 컬럼 삭제

L1_Player_df.drop('Unnamed: 0', axis=1, inplace=True)
L1_Player_df.head()

,player_name,team_number,team_name,age,position,Apps,Mins,Assists,KeyP,AvgP,...,Disp,UnsTch,Tackles,Inter,Fouls,Offsides,Clear,Drb,Blocks,OwnG
0,Lionel Messi,304,PSG,36,"AM(CR),FW",32,2842,16,2.9,60.3,...,2.4,1.6,0.8,0.1,0.3,0.0,0.0,0.5,0.0,0
1,Kylian Mbappé,304,PSG,24,"AM(LR),FW",32(2),2822,5,1.6,37.9,...,1.2,1.9,0.3,0.1,0.6,0.0,0.1,0.3,0.0,0
2,Neymar,304,PSG,31,"AM(CLR),FW",18(2),1553,11,2.5,59.4,...,1.9,2.5,1.1,0.2,1.3,0.0,0.1,0.5,0.1,0
3,Alexandre Lacazette,228,Lyon,32,"M(CLR),FW",34(1),2938,5,1.4,24.9,...,1.3,1.9,1.2,0.4,1.8,0.0,0.1,0.5,0.1,0
4,Rémy Cabella,607,Lille,33,"M(CLR),FW",28(4),2535,10,3.2,49.1,...,1.1,1.5,2.0,0.5,0.8,0.0,0.2,1.1,0.2,0

In [66]:
L1_Player_df.columns

Index(['player_name', 'team_number', 'team_name', 'age', 'position', 'Apps',
       'Mins', 'Assists', 'KeyP', 'AvgP', 'PS%', 'Crosses', 'LongB', 'ThrB',
       'Rating', 'Goals', 'Yel', 'Red', 'SpG', 'AerialsWon', 'MoM', 'Dribble',
       'Fouled', 'Off', 'Disp', 'UnsTch', 'Tackles', 'Inter', 'Fouls',
       'Offsides', 'Clear', 'Drb', 'Blocks', 'OwnG'],
      dtype='object')

In [67]:
L1_Player_df.columns = ['player_name', 'team_number', 'Team', 'age', 'position', 'Apps',
       'Mins', 'Assists', 'KeyP', 'AvgP', 'PS%', 'Crosses', 'LongB', 'ThrB',
       'Rating', 'Goals', 'Yel', 'Red', 'SpG', 'AerialsWon', 'MoM', 'Dribble',
       'Fouled', 'Off', 'Disp', 'UnsTch', 'Tackles', 'Inter', 'Fouls',
       'Offsides', 'Clear', 'Drb', 'Blocks', 'OwnG']

In [68]:
# 결측치 유무 확인

L1_Player_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   player_name  311 non-null    object
 1   team_number  311 non-null    int64
 2   Team         311 non-null    object
 3   age          311 non-null    int64
 4   position     311 non-null    object
 5   Apps         311 non-null    object
 6   Mins         311 non-null    int64
 7   Assists      311 non-null    int64
 8   KeyP         311 non-null    float64
 9   AvgP         311 non-null    float64
 10  PS%          311 non-null    float64
 11  Crosses      311 non-null    float64
 12  LongB        311 non-null    float64
 13  ThrB         311 non-null    float64
 14  Rating       311 non-null    float64
 15  Goals        311 non-null    int64
 16  Yel          311 non-null    int64
 17  Red          311 non-null    int64
 18  SpG          311 non-null    float64
 19  AerialsWon   311 non-null    float64
 20  MoM          311 non-null    int64
 21  Dribble      311 non-null    float64
 22  Fouled       311 non-null    float64
 23  Off          311 non-null    float64
 24  Disp         311 non-null    float64
 25  UnsTch       311 non-null    float64
 26  Tackles      311 non-null    float64
 27  Inter        311 non-null    float64
 28  Fouls        311 non-null    float64
 29  Offsides     311 non-null    float64
 30  Clear        311 non-null    float64
 31  Drb          311 non-null    float64
 32  Blocks       311 non-null    float64
 33  OwnG         311 non-null    int64
dtypes: float64(21), int64(9), object(4)
memory usage: 82.7+ KB

## 포지션 전처리

In [69]:
L1_Player_df['position'].unique()

array([' AM(CR),FW  ', ' AM(LR),FW  ', ' AM(CLR),FW  ', ' M(CLR),FW  ',
       ' M(C)  ', ' M(CLR)  ', ' AM(C),FW  ', ' D(R),M(CLR)  ', ' GK  ',
       ' M(CR),FW  ', ' AM(L),FW  ', ' D(C),DMC  ', ' AM(R)  ', ' DMC  ',
       ' AM(LR)  ', ' FW  ', ' D(R),M(R)  ', ' D(L),M(L)  ',
       ' AM(R),FW  ', ' D(R),M(C)  ', ' M(LR),FW  ', ' AM(CLR)  ',
       ' M(CR)  ', ' D(R),M(LR)  ', ' D(CR)  ', ' D(C)  ',
       ' D(LR),M(R)  ', ' D(CR),DMC  ', ' D(L),M(CL)  ', ' DMC,M(L)  ',
       ' M(CL)  ', ' D(C),M(C)  ', ' D(CL),M(L)  ', ' D(L)  ',
       ' D(R),M(CR)  ', ' D(CLR),DMC  ', ' D(R)  ', ' D(CL)  ',
       ' AM(CL),FW  ', ' D(CR),M(R)  ', ' D(L),M(LR)  ',
       ' D(CL),DMC,M(L)  ', ' AM(CR)  ', ' D(R),M(CLR),FW  ', ' M(L)  ',
       ' AM(C)  ', ' M(CL),FW  ', ' AM(CL)  ', ' D(CLR)  ',
       ' D(CR),M(CR)  ', ' D(LR),M(LR),FW  ', ' M(LR)  ', ' AM(L)  ',
       ' D(LR),DMC  ', ' D(L),M(CLR)  ', ' D(LR)  ', ' M(R)  ',
       ' D(CLR),M(R)  ', ' Midfielder  '], dtype=object)

In [70]:
# 전체 데이터에서 position 데이터만 추출

position_df = L1_Player_df[['position']]
position_df

           position
0       AM(CR),FW
1       AM(LR),FW
2      AM(CLR),FW
3       M(CLR),FW
4       M(CLR),FW
..              ...
306            FW
307   D(CLR),M(R)
308            FW
309          D(C)
310    Midfielder

[311 rows x 1 columns]

In [71]:
# 리스트 형태로 변환

tmp_li = position_df['position'].tolist()
tmp_li

[' AM(CR),FW  ',
 ' AM(LR),FW  ',
 ' AM(CLR),FW  ',
 ' M(CLR),FW  ',
 ' M(CLR),FW  ',
 ' M(C)  ',
 ' M(CLR)  ',
 ' AM(C),FW  ',
 ' D(R),M(CLR)  ',
 ' GK  ',
 ' M(CLR)  ',
 ' M(CR),FW  ',
 ' AM(L),FW  ',
 ' AM(CLR),FW  ',
 ' M(CLR)  ',
 ' M(C)  ',
 ' D(C),DMC  ',
 ' AM(R)  ',
 ' DMC  ',
 ' AM(LR)  ',
 ' M(CLR)  ',
 ' FW  ',
 ' AM(C),FW  ',
 ' D(R),M(R)  ',
 ' D(L),M(L)  ',
 ' DMC  ',
 ' M(CLR),FW  ',
 ' AM(R),FW  ',
 ' M(C)  ',
 ' D(R),M(CLR)  ',
 ' M(CLR),FW  ',
 ' D(R),M(C)  ',
 ' M(LR),FW  ',
 ' AM(CLR)  ',
 ' FW  ',
 ' M(CLR)  ',
 ' M(CR)  ',
 ' AM(LR),FW  ',
 ' D(R),M(LR)  ',
 ' D(CR)  ',
 ' D(C)  ',
 ' D(C)  ',
 ' D(C)  ',
 ' D(LR),M(R)  ',
 ' GK  ',
 ' D(C)  ',
 ' AM(R)  ',
 ' M(C)  ',
 ' D(R),M(R)  ',
 ' M(CLR)  ',
 ' D(CR),DMC  ',
 ' D(L),M(CL)  ',
 ' AM(LR),FW  ',
 ' AM(CLR),FW  ',
 ' D(L),M(L)  ',
 ' DMC,M(L)  ',
 ' FW  ',
 ' DMC  ',
 ' DMC  ',
 ' M(CL)  ',
 ' AM(LR),FW  ',
 ' AM(CLR),FW  ',
 ' GK  ',
 ' D(C),M(C)  ',
 ' M(CLR)  ',
 ' AM(L),FW  ',
 ' AM(CLR),FW  ',
 ' D(CL),M(L)  ',
 ' D(R),M(R)  ',
 ' D(L),M(L)  ',
 ' M(C)  ',
 ' DMC  ',
 ' AM(LR)  ',
 ' D(C)  ',
 ' D(C)  ',
 ' AM(CR),FW  ',
 ' D(L),M(L)  ',
 ' D(L)  ',
 ' D(R),M(CR)  ',
 ' M(CLR)  ',
 ' GK  ',
 ' D(R),M(R)  ',
 ' D(CR)  ',
 ' D(LR),M(R)  ',
 ' D(CLR),DMC  ',
 ' M(C)  ',
 ' GK  ',
 ' GK  ',
 ' D(R)  ',
 ' D(CL)  ',
 ' GK  ',
 ' AM(CLR),FW  ',
 ' D(C)  ',
 ' D(C)  ',
 ' DMC  ',
 ' D(C)  ',
 ' DMC  ',
 ' D(C),DMC  ',
 ' GK  ',
 ' D(C)  ',
 ' DMC  ',
 ' M(CLR),FW  ',
 ' AM(CL),FW  ',
 ' DMC  ',
 ' GK  ',
 ' AM(CLR),FW  ',
 ' D(C),DMC  ',
 ' D(C)  ',
 ' D(CR),M(R)  ',
 ' D(L),M(L)  ',
 ' D(CR)  ',
 ' D(CR)  ',
 ' D(L),M(LR)  ',
 ' D(CL),DMC,M(L)  ',
 ' M(C)  ',
 ' D(C)  ',
 ' AM(CR)  ',
 ' AM(L),FW  ',
 ' D(C)  ',
 ' D(R),M(CLR),FW  ',
 ' D(L),M(L)  ',
 ' AM(CLR)  ',
 ' D(C)  ',
 ' D(C)  ',
 ' D(L),M(L)  ',
 ' AM(R)  ',
 ' AM(CR)  ',
 ' DMC  ',
 ' M(L)  ',
 ' D(CR),DMC  ',
 ' AM(C)  ',
 ' M(CL),FW  ',
 ' D(C)  ',
 ' M(CLR)  ',
 ' GK  ',
 ' GK  ',
 ' AM(LR)  ',
 ' AM(CL)  ',
 ' D(C)  ',
 ' M(CLR)  ',
 ' D(CLR)  ',
 ' D(R),M(R)  ',
 ' AM(CLR),FW  ',
 ' GK  ',
 ' GK  ',
 ' DMC  ',
 ' D(C)  ',
 ' M(CLR),FW  ',
 ' D(CR)  ',
 ' D(CL)  ',
 ' D(C)  ',
 ' D(CR)  ',
 ' D(CL)  ',
 ' FW  ',
 ' FW  ',
 ' M(CLR),FW  ',
 ' D(C)  ',
 ' FW  ',
 ' D(C)  ',
 ' FW  ',
 ' D(CL),M(L)  ',
 ' D(CR),DMC  ',
 ' M(C)  ',
 ' AM(C)  ',
 ' GK  ',
 ' M(CLR)  ',
 ' FW  ',
 ' DMC,M(L)  ',
 ' GK  ',
 ' M(CLR),FW  ',
 ' D(C)  ',
 ' DMC  ',
 ' D(CR),M(CR)  ',
 ' D(R)  ',
 ' D(C)  ',
 ' D(LR),M(R)  ',
 ' D(L),M(CL)  ',
 ' GK  ',
 ' D(L),M(L)  ',
 ' FW  ',
 ' GK  ',
 ' D(C)  ',
 ' AM(CR)  ',
 ' DMC  ',
 ' D(C)  ',
 ' FW  ',
 ' D(C)  ',
 ' D(CR),M(R)  ',
 ' AM(CLR)  ',
 ' D(R),M(R)  ',
 ' AM(LR),FW  ',
 ' FW  ',
 ' AM(CL)  ',
 ' M(CLR)  ',
 ' AM(C)  ',
 ' M(C)  ',
 ' D(R),M(CLR),FW  ',
 ' M(CLR),FW  ',
 ' D(C),M(C)  ',
 ' D(CLR)  ',
 ' M(CLR)  ',
 ' AM(LR),FW  ',
 ' AM(CL)  ',
 ' D(C)  ',
 ' D(LR),M(LR),FW  ',
 ' D(R)  ',
 ' D(R)  ',
 ' D(CR),M(R)  ',
 ' D(L),M(CL)  ',
 ' AM(CLR)  ',
 ' DMC  ',
 ' D(R),M(R)  ',
 ' D(CR),DMC  ',
 ' AM(C)  ',
 ' DMC  ',
 ' AM(R),FW  ',
 ' AM(C)  ',
 ' DMC  ',
 ' DMC  ',
 ' DMC  ',
 ' M(C)  ',
 ' M(C)  ',
 ' DMC  ',
 ' M(L)  ',
 ' M(C)  ',
 ' D(CL),M(L)  ',
 ' AM(CL)  ',
 ' D(CL),M(L)  ',
 ' FW  ',
 ' M(CLR)  ',
 ' DMC  ',
 ' AM(R)  ',
 ' M(CLR)  ',
 ' M(LR)  ',
 ' AM(CLR),FW  ',
 ' DMC  ',
 ' D(L),M(L)  ',
 ' D(R),M(R)  ',
 ' D(C)  ',
 ' M(CR)  ',
 ' DMC  ',
 ' D(C)  ',
 ' AM(CL)  ',
 ' DMC  ',
 ' D(C)  ',
 ' M(CL)  ',
 ' D(C)  ',
 ' D(C),DMC  ',
 ' GK  ',
 ' D(C)  ',
 ' AM(R)  ',
 ' D(C),DMC  ',
 ' AM(C)  ',
 ' D(L),M(L)  ',
 ' AM(R)  ',
 ' AM(LR),FW  ',
 ' AM(L),FW  ',
 ' D(C)  ',
 ' M(CR)  ',
 ' D(R),M(R)  ',
 ' AM(L)  ',
 ' AM(R),FW  ',
 ' D(LR),DMC  ',
 ' AM(CLR),FW  ',
 ' D(C)  ',
 ' D(L),M(CLR)  ',
 ' D(L)  ',
 ' D(C),DMC  ',
 ' FW  ',
 ' AM(LR),FW  ',
 ' D(LR)  ',
 ' D(CL)  ',
 ' AM(C)  ',
 ' FW  ',
 ' D(R),M(R)  ',
 ' D(R),M(R)  ',
 ' DMC  ',
 ' DMC  ',
 ' D(C)  ',
 ' D(C)  ',
 ' AM(CR)  ',
 ' M(C)  ',
 ' FW  ',
 ' GK  ',
 ' D(R)  ',
 ' M(LR),FW  ',
 ' M(CLR),FW  ',
 ' AM(LR),FW  ',
 ' M(R)  ',
 ' D(C)  ',
 ' M(C)  ',
 ' FW  ',
 ' DMC  ',
 ' M(LR)  ',
 ' D(L),M(L)  ',
 ' DMC  ',
 ' D(R),M(LR)  ',
 ' D(R),M(R)  ',
 ' M(L)  ',
 ' D(R),M(R)  ',
 ' GK  ',
 ' M(C)  ',
 ' M(LR)  ',
 ' AM(CLR),FW  ',
 ' FW  ',
 ' FW  ',
 ' FW  ',
 ' D(CLR),M(R)  ',
 ' FW  ',
 ' D(C)  ',
 ' Midfielder  ']

In [72]:
# 포지션이 여러 개인 경우 하나의 포지션만 남긴다.

for i in range(len(tmp_li)):
    tmp = tmp_li[i]
    if ',' in tmp:
        tmp_li[i] = tmp.split(',')[0]

In [73]:
tmp = pd.DataFrame(tmp_li)
tmp.columns = ['position']
tmp

          position
0           AM(CR)
1           AM(LR)
2          AM(CLR)
3           M(CLR)
4           M(CLR)
..             ...
306           FW
307         D(CLR)
308           FW
309         D(C)
310   Midfielder

[311 rows x 1 columns]

In [76]:
# 전체 데이터에 새로운 포지션 값 적용

L1_Player_df['position'] = tmp['position']
L1_Player_df['position'] # 변경이 되었는지 확인

0             AM(CR)
1             AM(LR)
2            AM(CLR)
3             M(CLR)
4             M(CLR)
           ...
306             FW
307           D(CLR)
308             FW
309           D(C)
310     Midfielder
Name: position, Length: 311, dtype: object

In [77]:
# unique값 확인
# 공백이 있는 경우 같은 포지션도 다르게 판단 -> 공백을 지워준다.

tmp_li = L1_Player_df['position'].tolist()
tmp_li

[' AM(CR)',
 ' AM(LR)',
 ' AM(CLR)',
 ' M(CLR)',
 ' M(CLR)',
 ' M(C)  ',
 ' M(CLR)  ',
 ' AM(C)',
 ' D(R)',
 ' GK  ',
 ' M(CLR)  ',
 ' M(CR)',
 ' AM(L)',
 ' AM(CLR)',
 ' M(CLR)  ',
 ' M(C)  ',
 ' D(C)',
 ' AM(R)  ',
 ' DMC  ',
 ' AM(LR)  ',
 ' M(CLR)  ',
 ' FW  ',
 ' AM(C)',
 ' D(R)',
 ' D(L)',
 ' DMC  ',
 ' M(CLR)',
 ' AM(R)',
 ' M(C)  ',
 ' D(R)',
 ' M(CLR)',
 ' D(R)',
 ' M(LR)',
 ' AM(CLR)  ',
 ' FW  ',
 ' M(CLR)  ',
 ' M(CR)  ',
 ' AM(LR)',
 ' D(R)',
 ' D(CR)  ',
 ' D(C)  ',
 ' D(C)  ',
 ' D(C)  ',
 ' D(LR)',
 ' GK  ',
 ' D(C)  ',
 ' AM(R)  ',
 ' M(C)  ',
 ' D(R)',
 ' M(CLR)  ',
 ' D(CR)',
 ' D(L)',
 ' AM(LR)',
 ' AM(CLR)',
 ' D(L)',
 ' DMC',
 ' FW  ',
 ' DMC  ',
 ' DMC  ',
 ' M(CL)  ',
 ' AM(LR)',
 ' AM(CLR)',
 ' GK  ',
 ' D(C)',
 ' M(CLR)  ',
 ' AM(L)',
 ' AM(CLR)',
 ' D(CL)',
 ' D(R)',
 ' D(L)',
 ' M(C)  ',
 ' DMC  ',
 ' AM(LR)  ',
 ' D(C)  ',
 ' D(C)  ',
 ' AM(CR)',
 ' D(L)',
 ' D(L)  ',
 ' D(R)',
 ' M(CLR)  ',
 ' GK  ',
 ' D(R)',
 ' D(CR)  ',
 ' D(LR)',
 ' D(CLR)',
 ' M(C)  ',
 ' GK  ',
 ' GK  ',
 ' D(R)  ',
 ' D(CL)  ',
 ' GK  ',
 ' AM(CLR)',
 ' D(C)  ',
 ' D(C)  ',
 ' DMC  ',
 ' D(C)  ',
 ' DMC  ',
 ' D(C)',
 ' GK  ',
 ' D(C)  ',
 ' DMC  ',
 ' M(CLR)',
 ' AM(CL)',
 ' DMC  ',
 ' GK  ',
 ' AM(CLR)',
 ' D(C)',
 ' D(C)  ',
 ' D(CR)',
 ' D(L)',
 ' D(CR)  ',
 ' D(CR)  ',
 ' D(L)',
 ' D(CL)',
 ' M(C)  ',
 ' D(C)  ',
 ' AM(CR)  ',
 ' AM(L)',
 ' D(C)  ',
 ' D(R)',
 ' D(L)',
 ' AM(CLR)  ',
 ' D(C)  ',
 ' D(C)  ',
 ' D(L)',
 ' AM(R)  ',
 ' AM(CR)  ',
 ' DMC  ',
 ' M(L)  ',
 ' D(CR)',
 ' AM(C)  ',
 ' M(CL)',
 ' D(C)  ',
 ' M(CLR)  ',
 ' GK  ',
 ' GK  ',
 ' AM(LR)  ',
 ' AM(CL)  ',
 ' D(C)  ',
 ' M(CLR)  ',
 ' D(CLR)  ',
 ' D(R)',
 ' AM(CLR)',
 ' GK  ',
 ' GK  ',
 ' DMC  ',
 ' D(C)  ',
 ' M(CLR)',
 ' D(CR)  ',
 ' D(CL)  ',
 ' D(C)  ',
 ' D(CR)  ',
 ' D(CL)  ',
 ' FW  ',
 ' FW  ',
 ' M(CLR)',
 ' D(C)  ',
 ' FW  ',
 ' D(C)  ',
 ' FW  ',
 ' D(CL)',
 ' D(CR)',
 ' M(C)  ',
 ' AM(C)  ',
 ' GK  ',
 ' M(CLR)  ',
 ' FW  ',
 ' DMC',
 ' GK  ',
 ' M(CLR)',
 ' D(C)  ',
 ' DMC  ',
 ' D(CR)',
 ' D(R)  ',
 ' D(C)  ',
 ' D(LR)',
 ' D(L)',
 ' GK  ',
 ' D(L)',
 ' FW  ',
 ' GK  ',
 ' D(C)  ',
 ' AM(CR)  ',
 ' DMC  ',
 ' D(C)  ',
 ' FW  ',
 ' D(C)  ',
 ' D(CR)',
 ' AM(CLR)  ',
 ' D(R)',
 ' AM(LR)',
 ' FW  ',
 ' AM(CL)  ',
 ' M(CLR)  ',
 ' AM(C)  ',
 ' M(C)  ',
 ' D(R)',
 ' M(CLR)',
 ' D(C)',
 ' D(CLR)  ',
 ' M(CLR)  ',
 ' AM(LR)',
 ' AM(CL)  ',
 ' D(C)  ',
 ' D(LR)',
 ' D(R)  ',
 ' D(R)  ',
 ' D(CR)',
 ' D(L)',
 ' AM(CLR)  ',
 ' DMC  ',
 ' D(R)',
 ' D(CR)',
 ' AM(C)  ',
 ' DMC  ',
 ' AM(R)',
 ' AM(C)  ',
 ' DMC  ',
 ' DMC  ',
 ' DMC  ',
 ' M(C)  ',
 ' M(C)  ',
 ' DMC  ',
 ' M(L)  ',
 ' M(C)  ',
 ' D(CL)',
 ' AM(CL)  ',
 ' D(CL)',
 ' FW  ',
 ' M(CLR)  ',
 ' DMC  ',
 ' AM(R)  ',
 ' M(CLR)  ',
 ' M(LR)  ',
 ' AM(CLR)',
 ' DMC  ',
 ' D(L)',
 ' D(R)',
 ' D(C)  ',
 ' M(CR)  ',
 ' DMC  ',
 ' D(C)  ',
 ' AM(CL)  ',
 ' DMC  ',
 ' D(C)  ',
 ' M(CL)  ',
 ' D(C)  ',
 ' D(C)',
 ' GK  ',
 ' D(C)  ',
 ' AM(R)  ',
 ' D(C)',
 ' AM(C)  ',
 ' D(L)',
 ' AM(R)  ',
 ' AM(LR)',
 ' AM(L)',
 ' D(C)  ',
 ' M(CR)  ',
 ' D(R)',
 ' AM(L)  ',
 ' AM(R)',
 ' D(LR)',
 ' AM(CLR)',
 ' D(C)  ',
 ' D(L)',
 ' D(L)  ',
 ' D(C)',
 ' FW  ',
 ' AM(LR)',
 ' D(LR)  ',
 ' D(CL)  ',
 ' AM(C)  ',
 ' FW  ',
 ' D(R)',
 ' D(R)',
 ' DMC  ',
 ' DMC  ',
 ' D(C)  ',
 ' D(C)  ',
 ' AM(CR)  ',
 ' M(C)  ',
 ' FW  ',
 ' GK  ',
 ' D(R)  ',
 ' M(LR)',
 ' M(CLR)',
 ' AM(LR)',
 ' M(R)  ',
 ' D(C)  ',
 ' M(C)  ',
 ' FW  ',
 ' DMC  ',
 ' M(LR)  ',
 ' D(L)',
 ' DMC  ',
 ' D(R)',
 ' D(R)',
 ' M(L)  ',
 ' D(R)',
 ' GK  ',
 ' M(C)  ',
 ' M(LR)  ',
 ' AM(CLR)',
 ' FW  ',
 ' FW  ',
 ' FW  ',
 ' D(CLR)',
 ' FW  ',
 ' D(C)  ',
 ' Midfielder  ']

In [78]:
# 공백 삭제

for i in range(len(tmp_li)):
    tmp_li[i] = tmp_li[i].replace(' ', '')
tmp_li

['AM(CR)',
 'AM(LR)',
 'AM(CLR)',
 'M(CLR)',
 'M(CLR)',
 'M(C)',
 'M(CLR)',
 'AM(C)',
 'D(R)',
 'GK',
 'M(CLR)',
 'M(CR)',
 'AM(L)',
 'AM(CLR)',
 'M(CLR)',
 'M(C)',
 'D(C)',
 'AM(R)',
 'DMC',
 'AM(LR)',
 'M(CLR)',
 'FW',
 'AM(C)',
 'D(R)',
 'D(L)',
 'DMC',
 'M(CLR)',
 'AM(R)',
 'M(C)',
 'D(R)',
 'M(CLR)',
 'D(R)',
 'M(LR)',
 'AM(CLR)',
 'FW',
 'M(CLR)',
 'M(CR)',
 'AM(LR)',
 'D(R)',
 'D(CR)',
 'D(C)',
 'D(C)',
 'D(C)',
 'D(LR)',
 'GK',
 'D(C)',
 'AM(R)',
 'M(C)',
 'D(R)',
 'M(CLR)',
 'D(CR)',
 'D(L)',
 'AM(LR)',
 'AM(CLR)',
 'D(L)',
 'DMC',
 'FW',
 'DMC',
 'DMC',
 'M(CL)',
 'AM(LR)',
 'AM(CLR)',
 'GK',
 'D(C)',
 'M(CLR)',
 'AM(L)',
 'AM(CLR)',
 'D(CL)',
 'D(R)',
 'D(L)',
 'M(C)',
 'DMC',
 'AM(LR)',
 'D(C)',
 'D(C)',
 'AM(CR)',
 'D(L)',
 'D(L)',
 'D(R)',
 'M(CLR)',
 'GK',
 'D(R)',
 'D(CR)',
 'D(LR)',
 'D(CLR)',
 'M(C)',
 'GK',
 'GK',
 'D(R)',
 'D(CL)',
 'GK',
 'AM(CLR)',
 'D(C)',
 'D(C)',
 'DMC',
 'D(C)',
 'DMC',
 'D(C)',
 'GK',
 'D(C)',
 'DMC',
 'M(CLR)',
 'AM(CL)',
 'DMC',
 'GK',
 'AM(CLR)',
 'D(C)',
 'D(C)',
 'D(CR)',
 'D(L)',
 'D(CR)',
 'D(CR)',
 'D(L)',
 'D(CL)',
 'M(C)',
 'D(C)',
 'AM(CR)',
 'AM(L)',
 'D(C)',
 'D(R)',
 'D(L)',
 'AM(CLR)',
 'D(C)',
 'D(C)',
 'D(L)',
 'AM(R)',
 'AM(CR)',
 'DMC',
 'M(L)',
 'D(CR)',
 'AM(C)',
 'M(CL)',
 'D(C)',
 'M(CLR)',
 'GK',
 'GK',
 'AM(LR)',
 'AM(CL)',
 'D(C)',
 'M(CLR)',
 'D(CLR)',
 'D(R)',
 'AM(CLR)',
 'GK',
 'GK',
 'DMC',
 'D(C)',
 'M(CLR)',
 'D(CR)',
 'D(CL)',
 'D(C)',
 'D(CR)',
 'D(CL)',
 'FW',
 'FW',
 'M(CLR)',
 'D(C)',
 'FW',
 'D(C)',
 'FW',
 'D(CL)',
 'D(CR)',
 'M(C)',
 'AM(C)',
 'GK',
 'M(CLR)',
 'FW',
 'DMC',
 'GK',
 'M(CLR)',
 'D(C)',
 'DMC',
 'D(CR)',
 'D(R)',
 'D(C)',
 'D(LR)',
 'D(L)',
 'GK',
 'D(L)',
 'FW',
 'GK',
 'D(C)',
 'AM(CR)',
 'DMC',
 'D(C)',
 'FW',
 'D(C)',
 'D(CR)',
 'AM(CLR)',
 'D(R)',
 'AM(LR)',
 'FW',
 'AM(CL)',
 'M(CLR)',
 'AM(C)',
 'M(C)',
 'D(R)',
 'M(CLR)',
 'D(C)',
 'D(CLR)',
 'M(CLR)',
 'AM(LR)',
 'AM(CL)',
 'D(C)',
 'D(LR)',
 'D(R)',
 'D(R)',
 'D(CR)',
 'D(L)',
 'AM(CLR)',
 'DMC',
 'D(R)',
 'D(CR)',
 'AM(C)',
 'DMC',
 'AM(R)',
 'AM(C)',
 'DMC',
 'DMC',
 'DMC',
 'M(C)',
 'M(C)',
 'DMC',
 'M(L)',
 'M(C)',
 'D(CL)',
 'AM(CL)',
 'D(CL)',
 'FW',
 'M(CLR)',
 'DMC',
 'AM(R)',
 'M(CLR)',
 'M(LR)',
 'AM(CLR)',
 'DMC',
 'D(L)',
 'D(R)',
 'D(C)',
 'M(CR)',
 'DMC',
 'D(C)',
 'AM(CL)',
 'DMC',
 'D(C)',
 'M(CL)',
 'D(C)',
 'D(C)',
 'GK',
 'D(C)',
 'AM(R)',
 'D(C)',
 'AM(C)',
 'D(L)',
 'AM(R)',
 'AM(LR)',
 'AM(L)',
 'D(C)',
 'M(CR)',
 'D(R)',
 'AM(L)',
 'AM(R)',
 'D(LR)',
 'AM(CLR)',
 'D(C)',
 'D(L)',
 'D(L)',
 'D(C)',
 'FW',
 'AM(LR)',
 'D(LR)',
 'D(CL)',
 'AM(C)',
 'FW',
 'D(R)',
 'D(R)',
 'DMC',
 'DMC',
 'D(C)',
 'D(C)',
 'AM(CR)',
 'M(C)',
 'FW',
 'GK',
 'D(R)',
 'M(LR)',
 'M(CLR)',
 'AM(LR)',
 'M(R)',
 'D(C)',
 'M(C)',
 'FW',
 'DMC',
 'M(LR)',
 'D(L)',
 'DMC',
 'D(R)',
 'D(R)',
 'M(L)',
 'D(R)',
 'GK',
 'M(C)',
 'M(LR)',
 'AM(CLR)',
 'FW',
 'FW',
 'FW',
 'D(CLR)',
 'FW',
 'D(C)',
 'Midfielder']

In [79]:
tmp = pd.DataFrame(tmp_li, columns=['position'])
tmp

       position
0        AM(CR)
1        AM(LR)
2       AM(CLR)
3        M(CLR)
4        M(CLR)
..          ...
306          FW
307      D(CLR)
308          FW
309        D(C)
310  Midfielder

[311 rows x 1 columns]

In [80]:
# 원래 데이터에 적용

L1_Player_df['position'] = tmp

In [81]:
# 각 포지션이 잘 적용되었는지 확인

L1_Player_df['position'].unique()

array(['AM(CR)', 'AM(LR)', 'AM(CLR)', 'M(CLR)', 'M(C)', 'AM(C)', 'D(R)',
       'GK', 'M(CR)', 'AM(L)', 'D(C)', 'AM(R)', 'DMC', 'FW', 'D(L)',
       'M(LR)', 'D(CR)', 'D(LR)', 'M(CL)', 'D(CL)', 'D(CLR)', 'AM(CL)',
       'M(L)', 'M(R)', 'Midfielder'], dtype=object)

## Apps 전처리

In [82]:
# Apps -> 출전횟수
# 교체 출전의 경우 괄호에 있다.
# 그냥 합쳐준다.
apps_df = L1_Player_df['Apps']
apps_df.head()

0       32
1    32(2)
2    18(2)
3    34(1)
4    28(4)
Name: Apps, dtype: object

In [83]:
tmp_li = apps_df.tolist()
tmp_li

['32',
 '32(2)',
 '18(2)',
 '34(1)',
 '28(4)',
 '30',
 '35',
 '36(1)',
 '33(1)',
 '19',
 '37',
 '34(4)',
 '29(4)',
 '28(5)',
 '29(5)',
 '34(1)',
 '36',
 '11(11)',
 '32(3)',
 '13(16)',
 '29(1)',
 '20(3)',
 '28(4)',
 '19(4)',
 '18(5)',
 '32(4)',
 '32(3)',
 '32(5)',
 '29(1)',
 '31(6)',
 '30(7)',
 '34(2)',
 '29(4)',
 '21(13)',
 '29(9)',
 '32',
 '22(5)',
 '17(2)',
 '32(2)',
 '33',
 '37',
 '37',
 '34',
 '23(5)',
 '31',
 '37',
 '15(11)',
 '27(2)',
 '24(7)',
 '16(4)',
 '31',
 '32(3)',
 '15(4)',
 '32(2)',
 '33',
 '30(5)',
 '34(3)',
 '29(1)',
 '35(1)',
 '21(6)',
 '34(1)',
 '16(11)',
 '38',
 '31(3)',
 '28(9)',
 '29(4)',
 '29(3)',
 '34',
 '19(2)',
 '23(8)',
 '31(7)',
 '20(5)',
 '25(5)',
 '37(1)',
 '24(2)',
 '19(13)',
 '24(4)',
 '21(2)',
 '25(5)',
 '28(5)',
 '37',
 '28(3)',
 '31(2)',
 '27(6)',
 '32(4)',
 '35(1)',
 '32(1)',
 '37',
 '26(1)',
 '32',
 '38',
 '12(9)',
 '27(3)',
 '38',
 '29(2)',
 '16(5)',
 '33',
 '27(2)',
 '36',
 '33(1)',
 '25(4)',
 '22(9)',
 '24(6)',
 '31(1)',
 '37',
 '30(6)',
 '27(6)',
 '25(1)',
 '12(7)',
 '28(5)',
 '22(2)',
 '28',
 '23(10)',
 '26(7)',
 '29(7)',
 '30',
 '23(11)',
 '24(8)',
 '33(1)',
 '30(4)',
 '26',
 '14(8)',
 '35(2)',
 '30(5)',
 '22(2)',
 '9(10)',
 '18(14)',
 '28(1)',
 '26(7)',
 '30(3)',
 '11(15)',
 '34(2)',
 '35',
 '18(8)',
 '34',
 '37',
 '28(9)',
 '24(12)',
 '30(2)',
 '18(9)',
 '24(1)',
 '28(1)',
 '23(10)',
 '32',
 '38',
 '26(9)',
 '26',
 '9(15)',
 '29(4)',
 '35(1)',
 '37',
 '25(1)',
 '23(3)',
 '26(11)',
 '28(8)',
 '13(7)',
 '25(3)',
 '18(18)',
 '19(1)',
 '13(6)',
 '37',
 '20(11)',
 '25(8)',
 '18(9)',
 '32',
 '19(11)',
 '24(6)',
 '25(9)',
 '38',
 '20(7)',
 '18(1)',
 '14(17)',
 '22(9)',
 '14(6)',
 '35',
 '23(1)',
 '18(10)',
 '30',
 '20(2)',
 '23(11)',
 '21',
 '17(5)',
 '18(11)',
 '38',
 '18(8)',
 '12(13)',
 '30(1)',
 '30',
 '26(6)',
 '9(13)',
 '16(12)',
 '30(2)',
 '5(15)',
 '16(7)',
 '23(15)',
 '32(2)',
 '15(11)',
 '28(6)',
 '19(6)',
 '27(7)',
 '9(18)',
 '14(12)',
 '16(15)',
 '18(5)',
 '18(11)',
 '27(3)',
 '16(5)',
 '29(6)',
 '18(10)',
 '11(8)',
 '25(1)',
 '19(1)',
 '27(7)',
 '13(13)',
 '30(8)',
 '15(15)',
 '25(5)',
 '9(12)',
 '25(13)',
 '21(10)',
 '15(5)',
 '29(2)',
 '14(12)',
 '15(12)',
 '17(12)',
 '17(19)',
 '15(22)',
 '15(4)',
 '15(22)',
 '14(12)',
 '19(13)',
 '14(14)',
 '16(8)',
 '25(11)',
 '6(15)',
 '14(13)',
 '21(9)',
 '12(9)',
 '19(1)',
 '6(17)',
 '16(14)',
 '31(1)',
 '19(13)',
 '16(13)',
 '22(2)',
 '27(8)',
 '18(2)',
 '13(13)',
 '27',
 '20(2)',
 '16(17)',
 '17(14)',
 '20(11)',
 '21(3)',
 '25(8)',
 '12(11)',
 '5(21)',
 '29(1)',
 '22(8)',
 '25(6)',
 '11(12)',
 '19(15)',
 '10(17)',
 '28(6)',
 '35(1)',
 '15(11)',
 '25(3)',
 '35',
 '12(13)',
 '6(22)',
 '14(12)',
 '12(11)',
 '7(13)',
 '16(18)',
 '14(6)',
 '11(10)',
 '7(17)',
 '14(11)',
 '36(2)',
 '18(8)',
 '23(12)',
 '14(12)',
 '8(15)',
 '19',
 '11(10)',
 '6(20)',
 '14(5)',
 '17(13)',
 '8(18)',
 '21(5)',
 '11(15)',
 '6(21)',
 '13(10)',
 '7(12)',
 '9(23)',
 '5(14)',
 '11(16)',
 '18(9)',
 '13(9)',
 '6(16)',
 '32',
 '22(5)',
 '16(17)',
 '5(26)',
 '8(11)',
 '3(16)',
 '9(25)',
 '12(9)',
 '9(16)',
 '19(5)',
 '2(23)']

In [84]:
# ()안에 있는 숫자를 그냥 더해줌
# Apps값을 int형으로 변환

for i in range(311):
    if '(' in tmp_li[i]:
        tmp_li[i] = tmp_li[i].split('(')
        tmp_li[i] = [tmp_li[i][0], tmp_li[i][1].replace(')', '')]
        tmp_li[i] = int(tmp_li[i][0]) + int(tmp_li[i][1])
    else:
        tmp_li[i] = int(tmp_li[i])
    
tmp_df = pd.DataFrame(tmp_li, columns=['Apps'])
tmp_df

     Apps
0      32
1      34
2      20
3      35
4      32
..    ...
306    34
307    21
308    25
309    24
310    25

[311 rows x 1 columns]

In [85]:
L1_Player_df['Apps'] = tmp_df
L1_Player_df[['Apps']]

     Apps
0      32
1      34
2      20
3      35
4      32
..    ...
306    34
307    21
308    25
309    24
310    25

[311 rows x 1 columns]

In [86]:
L1_Player_df['Team'].unique().tolist()

['PSG',
 'Lyon',
 'Lille',
 'Montpellier',
 'Lorient',
 'Rennes',
 'Lens',
 'Nice',
 'Monaco',
 'Nantes',
 'Toulouse',
 'Strasbourg',
 'Brest',
 'Marseille',
 'Angers',
 'Reims',
 'Clermont Foot',
 'Troyes',
 'Auxerre',
 'AC Ajaccio']

In [87]:
# 추후 병합을 위해 Team이름을 맞춰준다.
player_team_df = L1_Player_df['Team']
player_team_list = player_team_df.to_list()


for i in range(len(player_team_list)): 
    player_team = player_team_list[i]
    
    if player_team == 'PSG':
        player_team_list[i] = 'Paris Saint-Germain'        

L1_Player_df['Team'] = pd.DataFrame(player_team_list, columns=['Team'])
L1_Player_df['Team'].unique()

array(['Paris Saint-Germain', 'Lyon', 'Lille', 'Montpellier', 'Lorient',
       'Rennes', 'Lens', 'Nice', 'Monaco', 'Nantes', 'Toulouse',
       'Strasbourg', 'Brest', 'Marseille', 'Angers', 'Reims',
       'Clermont Foot', 'Troyes', 'Auxerre', 'AC Ajaccio'], dtype=object)

# Team 데이터 가져오기
- team table added

In [88]:
L1_Team_df = pd.read_csv('./League1_data/League1_22_23_Team_Table_Added.csv')

In [89]:
L1_Team_df.drop('Unnamed: 0', axis=1, inplace=True)

In [90]:
L1_Team_df.columns

Index(['Rank_x', 'Team', 'Goals', 'Shotspg', 'Yellow', 'Red', 'Possession',
       'Pass', 'AerialsWon', 'Rating', 'def_Shotspg', 'def_Tacklespg',
       'def_Interceptionspg', 'def_Foulspg', 'def_Offsidespg', 'of_Shotspg',
       'of_ShotsOTpg', 'of_Dribblespg', 'of_Fouledpg', 'xG', 'xGDiff', 'Shots',
       'xG_Shots', 'Rank_y', 'P', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts'],
      dtype='object')

In [91]:
# Team명이 통일되었는지 확인

for team in L1_Team_df['Team'].unique().tolist():
    if team not in L1_Player_df['Team'].unique().tolist():
        print(team)

# 포지션 구분
## 전처리 추가 필요 -> FW, AM, M, DM, D, GK

In [92]:
position_li = L1_Player_df['position'].unique().tolist()
position_li

['AM(CR)',
 'AM(LR)',
 'AM(CLR)',
 'M(CLR)',
 'M(C)',
 'AM(C)',
 'D(R)',
 'GK',
 'M(CR)',
 'AM(L)',
 'D(C)',
 'AM(R)',
 'DMC',
 'FW',
 'D(L)',
 'M(LR)',
 'D(CR)',
 'D(LR)',
 'M(CL)',
 'D(CL)',
 'D(CLR)',
 'AM(CL)',
 'M(L)',
 'M(R)',
 'Midfielder']

In [93]:
# 각 포지션별로 데이터 추출

Position_df_li = []

for position in position_li:
    tmp = L1_Player_df[L1_Player_df['position'] == position]
    Position_df_li.append(tmp)

In [94]:
print(position_li[0])
Position_df_li[0]

AM(CR)

,player_name,team_number,Team,age,position,Apps,Mins,Assists,KeyP,AvgP,...,Disp,UnsTch,Tackles,Inter,Fouls,Offsides,Clear,Drb,Blocks,OwnG
0,Lionel Messi,304,Paris Saint-Germain,36,AM(CR),32,2842,16,2.9,60.3,...,2.4,1.6,0.8,0.1,0.3,0.0,0.0,0.5,0.0,0
75,Breel Embolo,248,Monaco,26,AM(CR),32,1856,2,0.9,13.6,...,1.4,2.1,0.5,0.2,1.6,0.1,0.4,0.2,0.1,0
116,Saîf-Eddine Khaoui,941,Clermont Foot,28,AM(CR),34,2036,3,1.1,19.1,...,0.7,1.3,1.4,1.0,0.7,0.0,0.2,0.9,0.1,0
126,Lovro Majer,313,Rennes,25,AM(CR),32,1670,5,1.1,28.0,...,1.0,1.4,1.1,0.7,1.5,0.0,0.1,0.7,0.0,0
182,Habib Diarra,148,Strasbourg,19,AM(CR),29,1628,2,0.8,20.4,...,0.7,1.3,0.8,0.4,0.8,0.0,0.4,0.5,0.0,0
280,Gauthier Hein,308,Auxerre,26,AM(CR),35,1886,0,0.8,18.9,...,0.7,1.0,0.8,0.2,0.6,0.0,0.3,0.9,0.0,0

In [95]:
# 포지션 압축
# M, FW, AM, D, DMC, M, GK, Forward

tmp_df = L1_Player_df['position']
tmp_li = tmp_df.tolist()
tmp_li

['AM(CR)',
 'AM(LR)',
 'AM(CLR)',
 'M(CLR)',
 'M(CLR)',
 'M(C)',
 'M(CLR)',
 'AM(C)',
 'D(R)',
 'GK',
 'M(CLR)',
 'M(CR)',
 'AM(L)',
 'AM(CLR)',
 'M(CLR)',
 'M(C)',
 'D(C)',
 'AM(R)',
 'DMC',
 'AM(LR)',
 'M(CLR)',
 'FW',
 'AM(C)',
 'D(R)',
 'D(L)',
 'DMC',
 'M(CLR)',
 'AM(R)',
 'M(C)',
 'D(R)',
 'M(CLR)',
 'D(R)',
 'M(LR)',
 'AM(CLR)',
 'FW',
 'M(CLR)',
 'M(CR)',
 'AM(LR)',
 'D(R)',
 'D(CR)',
 'D(C)',
 'D(C)',
 'D(C)',
 'D(LR)',
 'GK',
 'D(C)',
 'AM(R)',
 'M(C)',
 'D(R)',
 'M(CLR)',
 'D(CR)',
 'D(L)',
 'AM(LR)',
 'AM(CLR)',
 'D(L)',
 'DMC',
 'FW',
 'DMC',
 'DMC',
 'M(CL)',
 'AM(LR)',
 'AM(CLR)',
 'GK',
 'D(C)',
 'M(CLR)',
 'AM(L)',
 'AM(CLR)',
 'D(CL)',
 'D(R)',
 'D(L)',
 'M(C)',
 'DMC',
 'AM(LR)',
 'D(C)',
 'D(C)',
 'AM(CR)',
 'D(L)',
 'D(L)',
 'D(R)',
 'M(CLR)',
 'GK',
 'D(R)',
 'D(CR)',
 'D(LR)',
 'D(CLR)',
 'M(C)',
 'GK',
 'GK',
 'D(R)',
 'D(CL)',
 'GK',
 'AM(CLR)',
 'D(C)',
 'D(C)',
 'DMC',
 'D(C)',
 'DMC',
 'D(C)',
 'GK',
 'D(C)',
 'DMC',
 'M(CLR)',
 'AM(CL)',
 'DMC',
 'GK',
 'AM(CLR)',
 'D(C)',
 'D(C)',
 'D(CR)',
 'D(L)',
 'D(CR)',
 'D(CR)',
 'D(L)',
 'D(CL)',
 'M(C)',
 'D(C)',
 'AM(CR)',
 'AM(L)',
 'D(C)',
 'D(R)',
 'D(L)',
 'AM(CLR)',
 'D(C)',
 'D(C)',
 'D(L)',
 'AM(R)',
 'AM(CR)',
 'DMC',
 'M(L)',
 'D(CR)',
 'AM(C)',
 'M(CL)',
 'D(C)',
 'M(CLR)',
 'GK',
 'GK',
 'AM(LR)',
 'AM(CL)',
 'D(C)',
 'M(CLR)',
 'D(CLR)',
 'D(R)',
 'AM(CLR)',
 'GK',
 'GK',
 'DMC',
 'D(C)',
 'M(CLR)',
 'D(CR)',
 'D(CL)',
 'D(C)',
 'D(CR)',
 'D(CL)',
 'FW',
 'FW',
 'M(CLR)',
 'D(C)',
 'FW',
 'D(C)',
 'FW',
 'D(CL)',
 'D(CR)',
 'M(C)',
 'AM(C)',
 'GK',
 'M(CLR)',
 'FW',
 'DMC',
 'GK',
 'M(CLR)',
 'D(C)',
 'DMC',
 'D(CR)',
 'D(R)',
 'D(C)',
 'D(LR)',
 'D(L)',
 'GK',
 'D(L)',
 'FW',
 'GK',
 'D(C)',
 'AM(CR)',
 'DMC',
 'D(C)',
 'FW',
 'D(C)',
 'D(CR)',
 'AM(CLR)',
 'D(R)',
 'AM(LR)',
 'FW',
 'AM(CL)',
 'M(CLR)',
 'AM(C)',
 'M(C)',
 'D(R)',
 'M(CLR)',
 'D(C)',
 'D(CLR)',
 'M(CLR)',
 'AM(LR)',
 'AM(CL)',
 'D(C)',
 'D(LR)',
 'D(R)',
 'D(R)',
 'D(CR)',
 'D(L)',
 'AM(CLR)',
 'DMC',
 'D(R)',
 'D(CR)',
 'AM(C)',
 'DMC',
 'AM(R)',
 'AM(C)',
 'DMC',
 'DMC',
 'DMC',
 'M(C)',
 'M(C)',
 'DMC',
 'M(L)',
 'M(C)',
 'D(CL)',
 'AM(CL)',
 'D(CL)',
 'FW',
 'M(CLR)',
 'DMC',
 'AM(R)',
 'M(CLR)',
 'M(LR)',
 'AM(CLR)',
 'DMC',
 'D(L)',
 'D(R)',
 'D(C)',
 'M(CR)',
 'DMC',
 'D(C)',
 'AM(CL)',
 'DMC',
 'D(C)',
 'M(CL)',
 'D(C)',
 'D(C)',
 'GK',
 'D(C)',
 'AM(R)',
 'D(C)',
 'AM(C)',
 'D(L)',
 'AM(R)',
 'AM(LR)',
 'AM(L)',
 'D(C)',
 'M(CR)',
 'D(R)',
 'AM(L)',
 'AM(R)',
 'D(LR)',
 'AM(CLR)',
 'D(C)',
 'D(L)',
 'D(L)',
 'D(C)',
 'FW',
 'AM(LR)',
 'D(LR)',
 'D(CL)',
 'AM(C)',
 'FW',
 'D(R)',
 'D(R)',
 'DMC',
 'DMC',
 'D(C)',
 'D(C)',
 'AM(CR)',
 'M(C)',
 'FW',
 'GK',
 'D(R)',
 'M(LR)',
 'M(CLR)',
 'AM(LR)',
 'M(R)',
 'D(C)',
 'M(C)',
 'FW',
 'DMC',
 'M(LR)',
 'D(L)',
 'DMC',
 'D(R)',
 'D(R)',
 'M(L)',
 'D(R)',
 'GK',
 'M(C)',
 'M(LR)',
 'AM(CLR)',
 'FW',
 'FW',
 'FW',
 'D(CLR)',
 'FW',
 'D(C)',
 'Midfielder']

In [96]:
# 포지션 압축

for i in range(len(tmp_li)):
    pos_tmp = tmp_li[i]
    if '(' in pos_tmp:
        pos_tmp_li = pos_tmp.split('(')
        tmp_li[i] = pos_tmp_li[0]
    
    if tmp_li[i] == 'Forward':
        tmp_li[i] = 'FW'
        
    elif tmp_li[i] == 'DMC':
        tmp_li[i] = 'DM'
        
    elif tmp_li[i] == 'Midfielder':
        tmp_li[i] = 'M'

In [97]:
# 원본 데이터에 적용

L1_Player_df['position'] = pd.DataFrame(tmp_li, columns=['position'])

In [98]:
# 적용되었는지 확인

L1_Player_df['position'].unique()

array(['AM', 'M', 'D', 'GK', 'DM', 'FW'], dtype=object)

# 포지션별 dataframe 생성
- csv파일도 생성

In [105]:
FW_player_df = L1_Player_df[L1_Player_df['position'] == 'FW']
print(FW_player_df.shape)
#FW_player_df.to_csv('L1_FW_Player.csv', encoding='utf-8-sig')

(20, 34)

In [106]:
AM_player_df = L1_Player_df[L1_Player_df['position'] == 'AM']
AM_player_df.shape
#AM_player_df.to_csv('L1_AM_Player.csv', encoding='utf-8-sig')

In [107]:
M_player_df = L1_Player_df[L1_Player_df['position'] == 'M']
M_player_df.shape
#M_player_df.to_csv('L1_M_Player.csv', encoding='utf-8-sig')

In [108]:
DM_player_df = L1_Player_df[L1_Player_df['position'] == 'DM']
DM_player_df.shape
#DM_player_df.to_csv('L1_DM_Player.csv', encoding='utf-8-sig')

In [109]:
D_player_df = L1_Player_df[L1_Player_df['position'] == 'D']
D_player_df.shape
#D_player_df.to_csv('L1_D_Player.csv', encoding='utf-8-sig')

In [110]:
GK_player_df = L1_Player_df[L1_Player_df['position'] == 'GK']
GK_player_df.shape
#GK_player_df.to_csv('L1_GK_Player.csv', encoding='utf-8-sig')